name: ci
on:
  push:
    branches:
      - '*'
  workflow_dispatch:
  pull_request:
    branches:
      - '*'
jobs:
  macos-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Test Swift Package on macOS"
        run: swift test
      - name: "Test Swift Package on iOS"
        run: xcodebuild test -sdk "iphonesimulator" -destination "platform=iOS Simulator,name=iPhone 17" -scheme "$(xcodebuild -list -json | jq -r '.workspace.schemes[-1]')"
  linux-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Exclude Service and Macros
        run: |
          echo "EXCLUDE_SERVICE=1" >> "$GITHUB_ENV"
          echo "EXCLUDE_MACROS=1" >> "$GITHUB_ENV"
      - name: "Test Swift Package on Linux"
        run: swift test
      - name: "Test Swift Package on Android"
        uses: skiptools/swift-android-action@v2

  # Disabled because the runner image has now an unsupported version of the Windows SDK
  # windows:
  #   runs-on: windows-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Exclude Service and Macros
  #       run: |
  #         echo "EXCLUDE_SERVICE=1" >> "$GITHUB_ENV"
  #         echo "EXCLUDE_MACROS=1" >> "$GITHUB_ENV"
  #     - name: "Setup Swift on Windows"
  #       uses: compnerd/gha-setup-swift@main
  #       with:
  #         branch: swift-6.0.3-release
  #         tag: 6.0.3-RELEASE
  #     - name: "Test Swift Package on Windows"
  #       run: swift test
  #       env:
  #         EXCLUDE_SERVICE: 1
  #         EXCLUDE_MACROS: 1
